$home-1-dark: #0a2d0c;
$home-1: #1e7f24;
$home-1-light: #9ed59f;
$home-2-dark: #090047;
$home-2: #2600ff;
$home-2-light: #b7cbff;
$home-3-dark: #220048;
$home-3: #7000ff;
$home-3-light: #f2d4ff;
$home-4-dark: #58061d;
$home-4: #ef154b;
$home-4-light: #efbcba;
$home-5-dark: #371507;
$home-5: #ef651e;
$home-5-light: #efdab3;
$home-6-dark: #46420a;
$home-6: #ffc000;
$home-6-light: #f9ffd7;

$light-grey: #acacac;
