@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Do+Hyeon&family=Raleway:wght@400;600&family=Reenie+Beanie&display=swap');

body {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

h1 {
  width: fit-content;
  font-size: 3rem;
  font-family: 'Reenie Beanie', cursive;

  &.chart-header {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}

h2 {
  &.chart-header {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0 auto;
    font-size: 1.2rem;
  }
}
