@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Raleway&family=Reenie+Beanie&display=swap');

body {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Reenie Beanie', cursive;
}
