@import "src/app/styles/globals";

$chartColors:
  1 'black',
  2 $home-5-light,
  3 $home-2-dark;

@each $i, $bgColor in $chartColors {
  .chart:nth-child(#{$i}) {
    background-color: $bgColor;

    @if ($i == 2) {
      background-image: linear-gradient(to bottom, $bgColor, rgba($bgColor, .6)), url("~src/assets/img/lego-heads.png");
    }
  }
}
