<div class="container">
  <app-menu [wrapperStyle]="{borderColor: menuColor}" [linkStyle]="{color: menuColor}"></app-menu>
  <div class="content-wrapper">
    <div class="content">
      <div class="custom-file">
        <label for="image">Select an image</label>
        <input id="image" type="file" class="custom-file-input" (change)="fileChange($event)">
      </div>

      <div *ngIf="loading; else inputImage">
        Image loading <span>...</span>
      </div>
      <ng-template #inputImage>
        <img id="input-image" [src]="imgSrc" alt="">
      </ng-template>

      <div class="predictions">
        <div *ngFor="let pred of predictions">
          {{ pred.className }} - {{ pred.probability | percent }}
        </div>
      </div>
    </div>
  </div>
</div>
