@import "../styles/globals.scss";

::ng-deep .container-black .chart {
  padding: 2rem 0;
}

.back-wrapper {
  width: 80%;
  margin: 0 auto;
  border-bottom: 4px solid white;
  display: flex;
  justify-content: space-between;
}
