<div class="container-black">
  <div class="back-wrapper">
    <div>
      <a class="page-link" [routerLink]="'/home'">Go back home</a>
      <button *ngIf="url === 'lego'" [ngClass]="{ 'mode-off': colorBlindModeOn }" (click)="toggleColorBlindMode(!colorBlindModeOn)">
        {{ 'Turn colorblind mode ' + (colorBlindModeOn ? 'off' : 'on') }}
      </button>
    </div>
    <div>
      <a *ngFor="let link of chartLinks"
         class="page-link"
         [ngClass]="{'current': url === link.link}"
         [routerLink]="'/charts/' + link.link"
          (click)="setUrl(link.link)">
        {{ link.text }}
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
