<div class="container">
  <div class="title-wrap">
    <h1>Erle's</h1>
    <h1>Corner</h1>

    <div class="menu-holder-wrap">
      <div class="menu-holder">
        <div class="button-slide-wrap">
          <div class="button-slide-1">
            <a *ngFor="let link of links" [routerLink]="link.link">{{ link.text }}</a>
          </div>
          <div class="button-slide-2">
            <a *ngFor="let link of links" [routerLink]="link.link">{{ link.text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


