@import "src/app/styles/globals";
@import "src/app/styles/mixins";

$lego-yellow: #f2cd37;
$lego-yellow-dark: #f2cd37;
$lego-blue: #5c8ef0;
$lego-blue-dark: #0055BF;
$lego-red: #ff6466;
$lego-red-dark: #C31504;
$lego-green: #64a573;
$lego-green-dark: #237841;
$lego-brown: #9c7759;
$lego-brown-dark: #583927;
$lego-black: #00121F;

$lego-colors:
  1 $lego-yellow,
  2 $lego-blue,
  3 $lego-red,
  4 $lego-green,
  5 $lego-brown;

$lego-colors-dark:
  1 $lego-blue-dark,
  2 $lego-black,
  3 $lego-red-dark,
  4 $lego-green-dark,
  5 $lego-brown-dark,
  6 $lego-blue-dark,
  7 $lego-black,
  8 $lego-red-dark,
  9 $lego-green-dark;

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkCaret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

  .chart-header {
    color: black;
    margin-top: 1rem;
  }

  .type-effect {
    width: fit-content;

    h2 {
      overflow: hidden;
      border-right: 3px solid transparent;
      white-space: nowrap;
      animation:
        typing 3s steps(40, end),
        blinkCaret .4s step-end 9;
    }
  }

  .theme-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0 1.5rem 0;

    button {
      position: relative;
      font-family: 'Raleway', sans-serif;
      margin: 1rem .5rem 0 .5rem;
      padding: .25rem .75rem;
      color: white;
      width: 7rem;
      font-weight: bold;

      @each $i, $color in $lego-colors-dark {
        &:nth-child(#{$i}) {
          background-color: $color;

          &:before {
            $lego-width: 1rem;

            content: '';
            position: absolute;
            width: 100%;
            height: 6px;
            left: 0;
            top: -8px;
            background-image: linear-gradient(to right,
              transparent 0 $lego-width,
              $color $lego-width calc(2 * #{$lego-width}),
              transparent calc(2 * #{$lego-width}) calc(3 * #{$lego-width}),
              $color calc(3 * #{$lego-width}) calc(4 * #{$lego-width}),
              transparent calc(4 * #{$lego-width}) calc(5 * #{$lego-width}),
              $color calc(5 * #{$lego-width}) calc(6 * #{$lego-width}),
              transparent calc(6 * #{$lego-width}) 100%
            );
          }

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -6px;
            background-color: $color;
            opacity: 0;
            transition: opacity .5s;
          }

          &:hover, &.focus {
            background-image: linear-gradient(to left, rgba($color, 0.6), rgba($color, 0.49)), url("~src/assets/img/lego-heads.png");
            background-size: 30rem auto;
            background-position: center;
          }

          &.focus {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .pie-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 0 2rem 1rem 2rem;

    .decade-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      border-bottom: 3px solid black;

      button {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        font-weight: bold;
        width: 100%;
        padding-top: .5rem;

        @each $i, $color in $lego-colors {
          &:nth-child(#{$i}) {
            background-color: $color;
          }
        }

        img {
          width: 2rem;
          margin-right: .5rem;
          z-index: 1;
        }

        span {
          z-index: 1;
        }

        &:first-child {
          border-top-left-radius: 3px;
        }

        &:last-child {
          border-top-right-radius: 3px;
        }

        &:hover, &.focus {
          background-color: transparent;
          background-image: url("src/assets/img/lego.png");
          background-size: cover;

          &:before {
            content: '';
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            height: 100%;
          }
        }

        &.focus {
          overflow: visible;

          &:after {
            transform: translateX(0);
          }
        }
      }
    }
  }
}




